body, html {
    margin: 0;
    padding: 0;
    color: white;
    background: #111;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animate-in {
    animation: fade-in 0.1s;
}

#app_navbar {
    width: 100%;
    height: 8vh;
    z-index: 1;

    position: fixed;
    left: 0;
    top: 0;

    background: #222;

    border-bottom: 2px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.1s ease-in-out;
}

#app_navbar__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    font-size: 2.5vh;
}

#app_navbar__menu_button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 6vh;
    height: 6vh;

    position: absolute;
    left: 1vh;

    top: 50%;
    transform: translateY(-50%);
}

#app_navbar__menu_button__icon {
    font-size: 2.5vh;
    color: white;
}

#app_container {
    margin-top: 10vh;
}

#app_welcome {
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#app_login__form {
    padding: 25px;
}

#app_login__form__input_login, #app_login__form__input_password {
    margin-top: 10px;
    margin-bottom: 10px;
}

#app_login__login_error.disabled {
    display: none;
}

#app_login__login_success.disabled {
    display: none;
}

#app_login__form__submit > .content {
    display: block;
}

#app_login__form__submit > .content.disabled {
    display: none;
}

#app_login__form__submit > .spinner {
    display: none;
}

#app_login__form__submit > .spinner.active {
    display: block;
}

#app_sidenav {
    /* Because #app_sidenav__close_button is absolute... */
    padding-top: 10vh;

    z-index: 999;

    background: black;

    width: 100vw;
    height: 100vh;

    position: fixed;

    left: -100vw;
    top: 0;

    transition: left 0.2s ease-in-out;
}

#app_sidenav.active {
    left: 0;
    top: 0;
}

#app_sidenav__links {
    width: 100%;
    text-align: center;
}

.app-sidenav-link {
    width: 100%;
    padding: 25px;
}

.app-sidenav-link-button {
    width: 100%;
    font-size: 2.5vh;
}

#app_sidenav__close_button {
    position: absolute;
    right: 25px;
    top: 25px;
    font-size: 2.5vh;
}

.text-set-list-item {
    width: 100%;
    height: 10vh;
    transition: 0.1s;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #222;
}

.text-set-list-item:nth-child(even) {
    background: #333;
}

.text-set-list-item:hover {
    background: #555;
}

#app_all_text_set__mine__header {
    color: lightgrey;
    text-align: center;
}

#app_all_text_set__mine {
    margin-bottom: 30px;
}

.no-data {
    width: 100%;
    text-align: center;
}

.no-data-icon {
    font-size: 10vh;
}

.text-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #222;
    padding: 30px;
}

.text-list-item:nth-child(even) {
    background: #333;
}

.text-list-item:hover {
    background: #555;
}

.text-list-item > .id {
    color: gray;
}

.expandable-text-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #444;
    width: 100%;
}

.expandable-text-list-item:hover {
    background: #333;
}

.expandable-text-list-item > p.id {
    color: gray;
}

.expandable-text-list-footer {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-top: 20px;
}

.expandable-text-list {
    background: #222;
    padding: 25px;
}

.single-text-set-daily-view {
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
}

.single-text-set-daily-view-right > .from {
    color: #999;
    text-decoration: underline;
}

.single-text-set-daily-view-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-text-set-daily-view-right {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
}

#app_text_set_by_id__header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

#app_create_new_text_set__form__title, #app_create_new_text_set__form__description {
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 15px;
    margin-bottom: 10px;
    border-bottom: 1px dotted dimgrey;
    margin-right: 15px;
    margin-left: 15px;
}

.text-item:hover {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 10px;
    border-bottom: 1px dotted dimgrey;
    margin-right: 15px;
    margin-left: 15px;
    background: #222;
}

.text-item > .id {
    color: gray;
}

.all-texts-text-set-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 30px;
}

#app_sidenav__current__presentation__logout {
    background: #560056;
}

#app_sidenav__current__presentation {
    border-radius: 25px;
    background: linear-gradient(45deg, purple, #ff08ff);
    padding: 30px;
    margin: 25px;
}

#app_sidenav__current__presentation > .email {
    color: gray;
}

#app_sidenav__current__none {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-set-preview {
    background: #222;
    padding: 15px;
    transition: border-left 0.2s ease-in-out, background-color 0.2s ease-in-out;
    width: 100%;
}

.text-set-preview:hover {
    border-left: 3px solid darkcyan;
    background: #333;
}

.with-header > .paragraph{
    color: gray;
}

.with-header {
    margin-top: 30px;
    margin-bottom: 30px;
}