body, html {
    margin: 0;
    padding: 0;
    color: white;
    background: #111;
}

@keyframes fade-in {
    from {opacity: 0; }
    to { opacity: 1; }
}

.animate-in {
    animation: fade-in 0.1s;
}

#app_navbar {
    width: 100%;
    height: 8vh;
    z-index: 1;

    position: fixed;
    left: 0;
    top: 0;

    background: #222;

    border-bottom: 2px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.1s ease-in-out;
}

#app_navbar__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    font-size: 2.5vh;
}

#app_navbar__menu_button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 6vh;
    height: 6vh;

    position: absolute;
    left: 1vh;

    top: 50%;
    transform: translateY(-50%);
}

#app_navbar__menu_button__icon {
    font-size: 2.5vh;
    color: white;
}

#app_container {
    margin-top: 10vh;
}

#app_welcome {
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#app_login__login_error.disabled {
    display: none;
}

#app_sidenav {
    /* Because #app_sidenav__close_button is absolute... */
    padding-top: 10vh;

    z-index: 999;

    background: black;

    width: 100vw;
    height: 100vh;

    position: fixed;

    left: -100vw;
    top: 0;

    transition: left 0.2s ease-in-out;
}

#app_sidenav.active {
    left: 0;
    top: 0;
}

#app_sidenav__links {
    width: 100%;
    text-align: center;
}

.app-sidenav-link {
    width: 100%;
    padding: 25px;
}

.app-sidenav-link-button {
    width: 100%;
    font-size: 2.5vh;
}

#app_sidenav__close_button {
    position: absolute;
    right: 25px;
    top: 25px;
    font-size: 2.5vh;
}

.text-set-list-item {
    width: 100%;
    height: 10vh;
    transition: 0.1s;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #222;
}

.text-set-list-item:nth-child(even) {
    background: #333;
}

.text-set-list-item:hover{
    background: #555;
}

#app_all_text_set__mine__header {
    color: lightgrey;
    text-align: center;
}

#app_all_text_set__mine {
    margin-bottom: 30px;
}

.no-data {
    width: 100%;
    text-align: center;
}

.no-data-icon {
    font-size: 10vh;
}

.text-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #222;
    padding: 30px;
}

.text-list-item:nth-child(even) {
    background: #333;
}

.text-list-item:hover {
    background: #555;
}

.text-list-item > .id {
    color: gray;
}

.expandable-text-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    border-bottom: 1px solid #444;
    width:100%;
}

.expandable-text-list-item:hover {
    background: #333;
}

.expandable-text-list-item > p.id  {
    color: gray;
}

.expandable-text-list-footer {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-top: 20px;
}

.expandable-text-list {
    background: #222;
    padding: 25px;
}

.single-text-set-daily-view {
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
}

.single-text-set-daily-view-right > .from {
    color: #999;
    text-decoration: underline;
}

.single-text-set-daily-view-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-text-set-daily-view-right {
    display: flex;
    justify-content: right;
    align-items: center;
    width:100%;
}

#app_text_set_by_id__header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}